@import "lib/lesshat.less";

// THEME
// From http://www.colourlovers.com/palette/148712/Gamebookers
@font-color: #424242;
@link-color: #3299BB;
@emphasis: #FF9900;

// GENERIC IMPRESS
.fallback-message {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em;
}

.impress-not-supported {
  #impress {
    opacity: 0;
  }
  .fallback-message {
    opacity: 1.0;
    display: none;
  }
}

.impress-supported .fallback-message {
  opacity: 0;
}

// COMMON EFFECTS AND STYLES
.never {
  opacity: 0;
}

.invisible {
  .never;
}

.present-only, .past-only, .future-only {
  opacity: 0;
}

.present {
  &.present-only, .present-only {
    opacity: 1.0;
  }
}

.past {
  &.past-only, .past-only {
    opacity: 1.0;
  }
}

.future {
  &.future-only, .future-only {
    opacity: 1.0;
  }
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.step {
  font-size: 3em;

  width: 1024px;
}

.small {
  font-size: 0.6em;
}

.big {
  font-size: 4em;
  font-weight: bold;
}

.emphasis {
  color: @emphasis;
}

.code-wrapper {
  font-size: 0.4em;
}

.code-label {
  margin-bottom: 0;
}

.clear {
  clear: both;
}
// STYLE

body, div, p, span {
  .transition(~"all 0.5s ease-in");
}

body {
  // From http://subtlepatterns.com/subtle-grunge/
  background-image: url(img/subtle_grunge_@2X.png);

  color: @font-color;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

// Handling @2X
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
  body {
    background-image:url(img/subtle_grunge_@2X.png);
  }
}

a {
  color: @link-color;
}

.three-d(@color: @emphasis) {
  color: @color;
  text-shadow: 0px 1px 0px darken(@color, 10%),
               0px 2px 0px darken(@color, 22%),
               0px 3px 0px darken(@color, 35%),
               0px 4px 0px darken(@color, 46%),
               0px 5px 0px darken(@color, 57%),
               0px 6px 0px darken(@color, 68%),
               0px 7px 0px darken(@color, 79%),
               0px 8px 7px darken(@color, 90%);
}

.emphasized-title {
  .center;
  .three-d;
  font-family: 'Economica', cursive;
}

.main-title {
  .emphasized-title;
  font-size: 3em;
  line-height: 0.75em;
  margin-bottom: 0.1em;
}

.title-screen {
  position:relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3em;
}

.step.solution.locked, .step .solution.locked {
  .invisible;
}

#help-box {
  display: inline-block;
  z-index: 10;
  position: fixed;
  right: 20px;

  helper {
    float: left;
  }

  #timer {
    display: inline-block;
    margin: 10px;
    width: 50px;
    text-align: left;
  }

  #unlock {
    display: inline-block;
    background: @font-color;
    color: @emphasis;
    cursor: pointer;
    .border-radius(10px);
    padding: 10px;
  }
}


#request-life-cycle-1 .title-screen {
  background-image: url('./img/illustrations/waterfall.jpg');
}

#tools-1 .title-screen {
  background-image: url('./img/illustrations/tools.jpg');
}

#variable-1 .title-screen {
  background-image: url('./img/illustrations/cat-box.jpg');
  padding: 3.5em;
}

#type-1 .title-screen {
  background-image: url('./img/illustrations/fishes.jpg');
}

#control-1 .title-screen {
  background-image: url('./img/illustrations/rail.jpg');
}

#function-1 .title-screen {
  background-image: url('./img/illustrations/machine.jpg');
}

#testing-1 .title-screen {
  background-image: url('./img/illustrations/chemicals.jpg');
}

#norm-0 .title-screen {
  background-image: url('./img/illustrations/archive.jpg');
}

#split-1 .title-screen, #splitting-1 .title-screen {
  background-image: url('./img/illustrations/tomato.jpg');
  padding-top: 0em;
  padding-bottom: 5em;
}

#debugging-1 .title-screen {
  background-image: url('./img/illustrations/ant.jpg');
  padding: 2em;
  padding-top: 1em;
  padding-bottom: 4.8em;
}

#mysql-1 .title-screen {
  background-image: url('./img/illustrations/tanks.jpg');
}

#php-mysql-1 .title-screen {
  background-image: url('./img/illustrations/children.jpg');
  padding-top: 1em;
  padding-bottom: 3em;
}

#objective-reached .title-screen {
  background-image: url('./img/illustrations/party.jpg');
  padding-top: 1em;
  padding-bottom: 5em;
}

#security-1 .title-screen {
  background-image: url('./img/illustrations/guard.jpg');
}

#array-1 .title-screen {
  background-image: url('./img/illustrations/trees.jpg');
  padding: 0.2em 3em 2em;
}

#relational-1 .title-screen {
  background-image: url('./img/illustrations/link.jpg');
}

#conclusion-0 .title-screen {
  background-image: url('./img/illustrations/sleeping.jpg');
  padding: 1em 3em 6em;
}

.serious-img {
  width: 9em;
}
